main > header {
  padding: 2em 0;
}

details {
  margin-bottom: 1em;
}

footer {
  text-align: center;
}

h3 {
  text-transform: uppercase;
}

.swatch {
  background: var(--std-color-active);
  padding: 1em;
}
